<!DOCTYPE html>
<html>
 
<head>
    <title>Professional Bet</title>
</head>
<style>
  h1{
    font-size: 40px;
    font-family: Roboto;
    font-weight: normal;
    color: rgb(40,250,0);
    text-align: center;
  }
  #banner {
    width: 30%;
    height: 360px;
    object-fit: cover;
  }
  
  h2{
    font-family: Roboto;
    font-size: 32px;
    color: rgb(300,210,0);
    text-align: center;
  }
  p{
    font-family: roboto;
    font: size; 32px;
    color: rgb(210, 22, 10);
    text-align: center;
  }
  #container  {
    max-width: 520px;
    margin : 0 auto ;
  }
</style>
 
<body>
  <div id="container">
    <h1>Welcome To Professional bet</h1> 
  {% include 'nav.html'%}
    <img id='banner' src="https://professionalbet.vamshireddy19.repl.co/static/myssor.jpg" >
     <h2>About Professional bet</h2>
    <p>Professional bet is a betting platfom, designed and developed by Vamshi Lingareddy, A betting proffesional who aspired to become professional in betting</p>
    <h2>Man of the series</h2>
    <div>
      {%for record in records%}
      <div>{{record['player']}}</div>
      <div>runs:{{record['runs']}}</div>
      
      {% endfor %}
    </div>
     <h2>world cup final winner</h2>
    <div>
      {%for bet in bets%}
      <div>{{bet}}</div>
      {% endfor %}
      
    </div>
    
     <button>contact us</button>
  </div>
</body>
 
</html>

