<!DOCTYPE html>
<html>
 
<head>
    <title>Professional Bet - Sign Up</title>
</head>
 
<body>
    <h1>Sign Up</h1>
 
    <form action="/signup" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
 
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
 
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
 
        <button type="submit">Sign Up</button>
        <a href="https://star-bet-website.vamshireddy19.repl.co/sinup/s">Sign Up</a>
    </form>
</body>
 
</html>






